.main__game {
  min-height: 60vh;
}
.main__play-area {
  min-height: 40vh;
}
.main__play-submit {
  margin-top: 1rem;
}
.main__next-submit {
  margin-top: 1rem;
}
.main__over-area {
  margin-top: 1rem;
}
.main__swap-submit {
  margin-top: 1rem;
}
.main__pass-submit {
  margin-top: 1rem;
}
.main__resign-submit {
  margin-top: 1rem;
}
.main__examples {
  word-break: break-all;
  margin-top: 1rem;
}
